{erl_opts, [debug_info,{i, "./_build/default/checkouts/gpb/include"}]}.
{deps, []}.

{plugins, [{rebar3_gpb_plugin, "2.19.1"}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [mylib]}
]}.

{gpb_opts,[
           {i,"proto"},
           {module_name_suffix, "_pb"}
          ]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.
