{<<"app">>,<<"rebar3_gpb_plugin">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"A rebar3 gpb plugin for compiling .proto files">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/rebar3_gpb_compiler.erl">>,<<"src/rebar3_gpb_plugin.app.src">>,
  <<"src/rebar3_gpb_plugin.erl">>,<<"src/rebar3_gpb_prv_clean.erl">>,
  <<"src/rebar3_gpb_prv_compile.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/lrascao/rebar3_gpb_plugin">>}]}.
{<<"name">>,<<"rebar3_gpb_plugin">>}.
{<<"requirements">>,
 [{<<"gpb">>,
   [{<<"app">>,<<"gpb">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"4.16.2">>}]}]}.
{<<"version">>,<<"2.19.1">>}.
